<div class="col-10 offset- about">
  <h1>About Philosophy Splurty</h1>
</div>

  <p>
    Philosophy Splurty was built by Jose Flores a Web Developer in training with the FirehoseProject.
  </p>
  <p>
    
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'jf.JPG', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jose Flores</h2>
      <br />
      <p>
      Jose Flores is from Los Angeles, California. He is a Web developer in the making and a student of philosophy. Apart from Web development and philosophy he also has experience in calisthenics training and endurance sports, for any questions on fitness or website building, contact the email below.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />